/* MEDIA QUERY */
@media (max-width: 700px) {

  body  {
    background: #666;
  }
}

body	{
	background-color: #111;
	/*not linking*/
	/*background-image: url("../images/back-clouds.jpg");*/
}

h1	{
	text-align: center;
	font-family: 'Poiret One', cursive, sans-serif;
	font-size: 46px;
	color: #eee;
	margin-top: 30px;
	margin-bottom: 4px;
}

h2	{
	text-align: center;
	font-family: 'Poiret One', cursive, sans-serif;
	font-size: 60px;
	color: #eee;
	margin-top: 160px;
	margin-bottom: 0;
	padding-top: 30px;
}

p  {
	color: #eee;
	font-size: 15px;
	font-family: sans-serif;
	max-width: 400px;
	text-align: center;
	margin: auto;
	padding: 30px;
}

button	{
	height: 50px;
	width: 150px;
	margin: auto;
	margin-top: 10px;
	display: block;
	color: #eee;
	border: 1px solid #eee;
	background-color: #111;
	letter-spacing: 2px;
	font-size: 14px;
	letter-spacing: 2px;
}

button:hover	{
  background-color: #4b1376;
}

/*Link for button*/
a  {
  width: 150px;
  margin: auto;
  margin-top: 10px;
  display: block;
  text-decoration: none;
  color: #eee;
  border: 1px solid #eee;
  background-color: #111;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

a:hover	{
  background-color: #4b1376;
}

img	{
	/*Center Image*/
	display: block;
	margin: auto;
}

#timer	{
	margin: auto;
	width: 294px;
	height: 20px;
	color: #bbb;
	background-color: #333;
	margin-bottom: 12px;
	font-family: sans-serif;
	text-align: right;
	font-size: 12px;
	padding-top: 8px;
	padding-right: 10px;
	letter-spacing: 2px;
}

/*Main game area*/
.boundingBox	{
	margin: auto;
	position: relative;
	outline: #111 solid thick;
	background-color: #666;
	background-image: url("../images/clouds.jpg");
	width: 300px;
	height: 400px;
}

/*main charater to move right left*/
.player	{
	top: 120px;
	left: 120px;
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #fff;
	margin: auto;
}

/*Animation*/
@keyframes move	{
    from {top: 380px;}
    to {top: 0px;}
}

.largeObstacleLeft	{
    /*postion inside of bounding box from top left*/
    top: 380px;
    bottom: 0;
    left: 0;
	height: 20px;
	width: 150px;
	background-color: #111;
	position: relative;
	overflow: hidden;
	display: inline-block;
	-webkit-transition-timing-function: linear; /* Safari and Chrome */
	transition-timing-function:linear
}


.largeObstacleRight	{
	top: 356px;
    bottom: 0;
    left: 160px;
	height: 20px;
	width: 150px;
	background-color: #111;
	position: relative;
	overflow:hidden;
	-webkit-transition-timing-function: linear; /* Safari and Chrome */
	transition-timing-function:linear
	/*display: inline-block;*/
}




