body	{
	/*background: radial-gradient(#0B052F, #0C459C);*/
	background-color: #111;
}

h1	{
	text-align: center;
	font-family: 'Sacramento', sans-serif;
	font-size: 56px;
	color: #eee;
	margin-top: 30px;
	margin-bottom: 10px;
}

button	{
	height: 40px;
	width: 100px;
	margin: auto;
	margin-top: 20px;
	display: block;
	background-color: #bbb;
}

button-hover	{
	border: 1px solid #eee;
	background-color: #111;
}

a  {
  color: #111;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
}

img	{
	margin: auto;
	float: center;
}

.timer	{
	margin: auto;
	width: 298px;
	height: 30px;
	color: #eee;
	outline: #eee solid thin;
	margin-bottom: 20px;
}

.boundingBox	{
	margin: auto;
	position: relative;
	height: 400px;
	width: 300px;
	outline: #111 solid thick;
	background-color: #666;
}

.player	{
	top: 100px;
	left: 120px;
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #fff;
	margin: auto;
}

@keyframes move	{
    from {top: 380px;}
    to {top: 0px;}
}

.largeObstacleLeft	{
    top: 400px;
    bottom: 0;
    left: 0;
	height: 20px;
	width: 140px;
	background-color: #111;
	position: relative;
	overflow:hidden;
	animation-timing-function: linear;
	/*display: inline-block;*/  
}


.largeObstacleRight	{
	top: 400px;
    bottom: 0;
    left: 160px;
	height: 20px;
	width: 140px;
	background-color: #111;
	position: relative;
	overflow:hidden;
	animation-timing-function: linear;
	/*display: inline-block;  Works to place obstacles next to eachother, but stops animation */
}




